<hr />
[% FOR t in tweets %]
    [%- SET tweet_class = "" %]
    [%- IF t.in_reply_to_screen_name && t.in_reply_to_screen_name == you %]
        [%- tweet_class = "reply" %]
    [%- ELSIF t.retweeted_status %]
        [%- tweet_class = "retweet" %]
    [%- ELSE %]
        [%- tweet_class = "tweet" %]
    [%- END %]
<div class="[% tweet_class %]">
    [%- INCLUDE "_tweet.html" WITH t = t %]
    [%- UNLESS no_reply_link %]
        [%- st = t.retweeted_status || t %]
<a href="/reply?in_reply_to=[% st.user.screen_name %]&in_reply_to_status_id=[% st.id %]">Reply</a>
<a href="/reply?in_reply_to=[% st.user.screen_name %]&in_reply_to_status_id=[% st.id %]&text=[% st.text | raw %]">RT</a>
    via [% t.source | raw %]
    [%- END %]
</div>
<hr />
[% END %]
<hr />
[%- UNLESS no_pager %]
    [% INCLUDE '_pager.html' %]
[%- END %]
