[%- st = t.retweeted_status || t %]
[%- u = t.sender || st.user %]

[%- UNLESS not_show_profile_icon %]
<img width="24" height="24" src="[% u.profile_image_url %]" />
[%- END %]
[%- IF t.retweeted_status %]
<span title="Retweets from people you follow appear in your timeline." class="big-retweet-icon"></span>
[%- END %]

[% user_link(st.by) | raw %]
[% st.text_linked | raw %]<br /><br />

[%- IF st.in_reply_to_status_id %]
<a href="/user/[% st.in_reply_to_screen_name %]/status?id=[% st.in_reply_to_status_id %]">in reply to [% st.in_reply_to_screen_name %]</a><br />
[%- END %]

<a href="/user/[% st.by %]/status?id=[% st.id %]">[% ago_or_date(st.created_at) %]</a><br />

[%- IF t.retweeted_status %]
retweeted by [% user_link(t.user.screen_name) | raw %]<br />
[%- END %]
