[% WRAPPER "_wrapper.html" -%]
<div class="center">
    <p>
        <img src="[% user.profile_image_url %]" /><br />
        [% user_link(user.screen_name) | raw %] / [% user.name %]<br />
        [% link('http://twtr.jp/user/' _ params.user, 'twtr.jp') | raw %]<br />

        [%- IF is_blocking %]
            [% link('/confirm?dispatch=unblock_user&target=' _ params.user, 'unblock ' _ user.screen_name) | raw %]<br />
        [%- ELSE %]
            [% link('/confirm?dispatch=block_user&target=' _ params.user, 'block ' _ user.screen_name) | raw %]<br />
        [%- END %]

        [%- IF config.you != user.screen_name %]
            [%- IF is_following %]
                [% link('/confirm?dispatch=destroy_friend&target=' _ user.screen_name, 'unfollow ' _ user.screen_name) | raw %]
            [%- ELSE %]
                [% link('/confirm?dispatch=create_friend&target=' _ user.screen_name, 'follow ' _ user.screen_name) | raw %]
            [%- END %]
        [%- END %]
    </p>
</div>

<div class="border_dim">following</div>
<a href="/user/[% user.screen_name %]/following">[% user.friends_count %]</a>
<div class="border_dim">followers</div>
<a href="/user/[% user.screen_name %]/followers">[% user.followers_count %]</a>
<div class="border_dim">bio</div>
[% user.description %]
<div class="border_dim">location</div>
[% user.location %]
<div class="border_dim">statuses_count</div>
[% user.statuses_count %]
<div class="border_dim">url</div>
[% link(user.url) | raw %]
<br />
[% INCLUDE '_print_tweets.html' WITH not_show_profile_icon = 1 %]
[% END -%]
