[% WRAPPER "_wrapper.html" -%]
<div class="center">
    <p>
        <img src="[% user.profile_image_url %]" /><br />
        [% user_link(user.screen_name) | raw %] ([% user.name %])
    </p>
</div>

<hr />

<div class="center border_dim">following</div>
<a href="/user/[% user.screen_name %]/following">[% user.friends_count %]</a>
<div class="center border_dim">followers</div>
<a href="/user/[% user.screen_name %]/followers">[% user.followers_count %]</a>
<div class="center border_dim">bio</div>
[% user.description %]
<div class="center border_dim">location</div>
[% user.location %]
<div class="center border_dim">statuses_count</div>
[% user.statuses_count %]
<div class="center border_dim">url</div>
[% link(user.url) | raw %]
[% END -%]
