[% WRAPPER "_wrapper.html" WITH hide_menu = 1 -%]
<div class="tweet">
[%- INCLUDE "_tweet.html" WITH t = target_tweet %]
[%- IF parent_tweet %]
<hr />
<div class="tweet">
[%- INCLUDE "_tweet.html" WITH t = parent_tweet %]
</div>
[%- END %]
<a href="/reply?in_reply_to=[% target_tweet.by %]&in_reply_to_status_id=[% target_tweet.id %]">Reply</a>
<a href="/reply?in_reply_to=[% target_tweet.by %]&in_reply_to_status_id=[% target_tweet.id %]&text=[% target_tweet.text | raw %]">RT</a>
</div>
[% END -%]
